<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Day Update</title>
  </head>
  <body>
    <h1>Thanks for the input</h1>
    Your day is going: <%= dayStatus %> <br />
    To make it better, I suggest: <%= improvement %> <br />

    <a href='/'>Try again</a>
  </body>
</html>
