<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Hello, friend</h1>
    <form action='/day-update' method='post'>
      <div>
        <label>How's your day?</label><br />
        <input type="text" name="dayStatus" />
      </div>

      <div>
        <label>What'd make it better</label><br />
        <input type="text" name="improvement" />
      </div>

      <div>
        <input type="submit" name="submit" value="submit" />
      </div>
    </form>
  </body>
</html>
